Repository HiveSpaceAI/HiveSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test, mod:dev, mod:infra, mod:plugin-cli, mod:i18n, mod:env, mod:component, mod:server-native, mod:native, mod:store, rust, app:core, app:electron, app:server

Create migration.sql
  packages/backend/server/migrations/20230717084417_remove_update_fkey/migration.sql
Labels: app:server

Create gen-auth-key.ts
  packages/backend/server/scripts/gen-auth-key.ts
Labels: app:server

Create loader.js
  packages/backend/server/scripts/loader.js
Labels: app:server

Create register.js
  packages/backend/server/scripts/register.js
Labels: app:server

Create self-host-predeploy.js
  packages/backend/server/scripts/self-host-predeploy.js
Labels: app:server

Create test-send-local-mail.ts
  packages/backend/server/scripts/test-send-local-mail.ts
Labels: app:server

Create hivespace.env.ts
  packages/backend/server/src/config/hivespace.env.ts
Labels: app:server

Create hivespace.self.ts
  packages/backend/server/src/config/hivespace.self.ts
Labels: app:server

Create hivespace.ts
  packages/backend/server/src/config/hivespace.ts
Labels: app:server

Create app.controller.ts
  packages/backend/server/src/app.controller.ts
Labels: app:server

Create app.module.ts
  packages/backend/server/src/app.module.ts
Labels: app:server

Create app.ts
  packages/backend/server/src/app.ts
Labels: app:server

Create global.d.ts
  packages/backend/server/src/global.d.ts
Labels: app:server

Create index.ts
  packages/backend/server/src/index.ts
Labels: app:server

Create native.ts
  packages/backend/server/src/native.ts
Labels: app:server

Create prelude.ts
  packages/backend/server/src/prelude.ts
Labels: app:server

Create schema.gql
  packages/backend/server/src/schema.gql
Labels: app:server

Create LICENSE
  packages/backend/server/LICENSE
Labels: app:server

Create README.md
  packages/backend/server/README.md
Labels: docs, app:server

Create package.json
  packages/backend/server/package.json
Labels: app:server

Create schema.prisma
  packages/backend/server/schema.prisma
Labels: app:server

Create tsconfig.json
  packages/backend/server/tsconfig.json
Labels: app:server

Create tsconfig.node.json
  packages/backend/server/tsconfig.node.json
Labels: app:server

Create README.md
  packages/common/theme/README.md
Labels: docs

Create 1
  packages/frontend/component/.storybook/1
Labels: mod:component

Create 1
  packages/frontend/component/.storybook/src/1
Labels: mod:component

Create package.json
  packages/frontend/component/package.json
Labels: mod:component

Create tsconfig.json
  packages/frontend/component/tsconfig.json
Labels: mod:component

Create global.ts
  scripts/setup/global.ts
Labels: mod:dev

Create lit.ts
  scripts/setup/lit.ts
Labels: mod:dev

Create lottie-web.ts
  scripts/setup/lottie-web.ts
Labels: mod:dev

Create bump-blocksuite.js
  scripts/bump-blocksuite.js
Labels: mod:dev

Create bump-octobase.sh
  scripts/bump-octobase.sh
Labels: mod:dev

Create check-version.mjs
  scripts/check-version.mjs
Labels: mod:dev

Create download-blocksuite-fonts.mjs
  scripts/download-blocksuite-fonts.mjs
Labels: mod:dev

Create set-version.sh
  scripts/set-version.sh
Labels: mod:dev

Create tinykeys-npm-2.1.0-819feeaed0.patch
  yarn/patches/tinykeys-npm-2.1.0-819feeaed0.patch
Labels: none

Create yarn-4.2.2.cjs
  yarn/releases/yarn-4.2.2.cjs
Labels: none

Create .editorconfig
  .editorconfig
Labels: none

Create .env.template
  .env.template
Labels: none

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/README.md'
          - 'packages/frontend/templates/**/*'

test:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
          - '**/tests/**/*'
          - '**/__tests__/**/*'

mod:dev:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**/*'
          - 'tools/cli/**/*'
          - 'packages/common/debug/**/*'

mod:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/infra/**/*'

mod:plugin-cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/plugin-cli/**/*'

mod:i18n:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/i18n/**/*'

mod:env:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/env/**/*'

mod:component:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/component/**/*'

mod:server-native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/native/**/*'

mod:native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/native/**/*'

mod:store:
  - changed-files:
      - any-glob-to-any-file:
          - '**/atoms/**/*'

rust:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.rs'
          - '**/Cargo.toml'
          - '**/Cargo.lock'
          - '**/rust-toolchain'
          - '**/rust-toolchain.toml'
          - '**/rustfmt.toml'

app:core:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/core/**/*'

app:electron:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/electron/**/*'

app:server:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/server/**/*'
