Repository HiveSpaceAI/HiveSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test, mod:dev, mod:infra, mod:plugin-cli, mod:i18n, mod:env, mod:component, mod:server-native, mod:native, mod:store, rust, app:core, app:electron, app:server

Create .eslintignore
  .eslintignore
Labels: none

Create .eslintrc.js
  .eslintrc.js
Labels: none

Create .gitattributes
  .gitattributes
Labels: none

Create .gitignore
  .gitignore
Labels: none

Create .i18n-codegen.json
  .i18n-codegen.json
Labels: none

Create .npmrc
  .npmrc
Labels: none

Create .nvmrc
  .nvmrc
Labels: none

Create .prettierignore
  .prettierignore
Labels: none

Create .prettierrc
  .prettierrc
Labels: none

Create .taplo.toml
  .taplo.toml
Labels: none

Create .yarnrc.yml
  .yarnrc.yml
Labels: none

Create CHANGELOG.md
  CHANGELOG.md
Labels: none

Create Cargo.lock
  Cargo.lock
Labels: rust

Create Cargo.toml
  Cargo.toml
Labels: rust

Create LICENSE
  LICENSE
Labels: none

Create LICENSE-MIT
  LICENSE-MIT
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

Create codecov.yml
  codecov.yml
Labels: none

Create nx.json
  nx.json
Labels: none

Create nyc.config.js
  nyc.config.js
Labels: none

Create oxlint.json
  oxlint.json
Labels: none

Create package.json
  package.json
Labels: none

Create rust-toolchain.toml
  rust-toolchain.toml
Labels: rust

Create rustfmt.toml
  rustfmt.toml
Labels: rust

Create tsconfig.eslint.json
  tsconfig.eslint.json
Labels: none

Create tsconfig.json
  tsconfig.json
Labels: none

Create tsconfig.node.json
  tsconfig.node.json
Labels: none

Create typedoc.base.json
  typedoc.base.json
Labels: none

Create typedoc.json
  typedoc.json
Labels: none

Create vitest.config.ts
  vitest.config.ts
Labels: none

Create vitest.workspace.ts
  vitest.workspace.ts
Labels: none

Create yarn.lock
  yarn.lock
Labels: none

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/README.md'
          - 'packages/frontend/templates/**/*'

test:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
          - '**/tests/**/*'
          - '**/__tests__/**/*'

mod:dev:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**/*'
          - 'tools/cli/**/*'
          - 'packages/common/debug/**/*'

mod:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/infra/**/*'

mod:plugin-cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/plugin-cli/**/*'

mod:i18n:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/i18n/**/*'

mod:env:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/env/**/*'

mod:component:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/component/**/*'

mod:server-native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/native/**/*'

mod:native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/native/**/*'

mod:store:
  - changed-files:
      - any-glob-to-any-file:
          - '**/atoms/**/*'

rust:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.rs'
          - '**/Cargo.toml'
          - '**/Cargo.lock'
          - '**/rust-toolchain'
          - '**/rust-toolchain.toml'
          - '**/rustfmt.toml'

app:core:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/core/**/*'

app:electron:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/electron/**/*'

app:server:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/server/**/*'
