Repository HiveSpaceAI/HiveSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test, mod:dev, mod:infra, mod:plugin-cli, mod:i18n, mod:env, mod:component, mod:server-native, mod:native, mod:store, rust, app:core, app:electron, app:server

Create renovate.json
  .github/renovate.json
Labels: none

Create pre-commit
  .husky/pre-commit
Labels: none

Create extensions.json
  .vscode/extensions.json
Labels: none

Create launch.template.json
  .vscode/launch.template.json
Labels: none

Create settings.template.json
  .vscode/settings.template.json
Labels: none

Create release-action.png
  docs/contributing/assets/release-action.png
Labels: docs

Create releases.md
  docs/contributing/releases.md
Labels: docs

Create tutorial.md
  docs/contributing/tutorial.md
Labels: docs

Create package.json
  docs/reference/package.json
Labels: docs

Create BUILDING.md
  docs/BUILDING.md
Labels: docs

Create CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
Labels: docs

Create CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: docs

Create building-desktop-client-app.md
  docs/building-desktop-client-app.md
Labels: docs

Create contributor-add.md
  docs/contributor-add.md
Labels: docs

Create developing-server.md
  docs/developing-server.md
Labels: docs

Create issue-triaging.md
  docs/issue-triaging.md
Labels: docs

Create jobs.md
  docs/jobs.md
Labels: docs

Create types-of-contributions.md
  docs/types-of-contributions.md
Labels: docs

Create storage.spec.js
  packages/backend/native/__tests__/storage.spec.js
Labels: test, mod:server-native

Create index.js
  packages/backend/native/benchmark/index.js
Labels: mod:server-native

Create file_type.rs
  packages/backend/native/src/file_type.rs
Labels: mod:server-native, rust

Create hashcash.rs
  packages/backend/native/src/hashcash.rs
Labels: mod:server-native, rust

Create lib.rs
  packages/backend/native/src/lib.rs
Labels: mod:server-native, rust

Create tiktoken.rs
  packages/backend/native/src/tiktoken.rs
Labels: mod:server-native, rust

Create Cargo.toml
  packages/backend/native/Cargo.toml
Labels: mod:server-native, rust

Create build.rs
  packages/backend/native/build.rs
Labels: mod:server-native, rust

Create index.d.ts
  packages/backend/native/index.d.ts
Labels: mod:server-native

Create index.js
  packages/backend/native/index.js
Labels: mod:server-native

Create package.json
  packages/backend/native/package.json
Labels: mod:server-native

Create project.json
  packages/backend/native/project.json
Labels: mod:server-native

Create tsconfig.json
  packages/backend/native/tsconfig.json
Labels: mod:server-native

Create migration.sql
  packages/backend/server/migrations/20230425035217_init/migration.sql
Labels: app:server

Create migration.sql
  packages/backend/server/migrations/20230621052642_next_auth_integrate/migration.sql
Labels: app:server

Create migration.sql
  packages/backend/server/migrations/20230628074203_workspace/migration.sql
Labels: app:server

Create migration.sql
  packages/backend/server/migrations/20230705025556_workspace_id_fkey/migration.sql
Labels: app:server

Create migration.sql
  packages/backend/server/migrations/20230706065816_workspace_subpage/migration.sql
Labels: app:server

Create migration.sql
  packages/backend/server/migrations/20230706090316_change_avatar_url_field_name/migration.sql
Labels: app:server

Create migration.sql
  packages/backend/server/migrations/20230709091238_fix_blob_types/migration.sql
Labels: app:server

Create migration.sql
  packages/backend/server/migrations/20230713022301_update_manager/migration.sql
Labels: app:server

Create migration.sql
  packages/backend/server/migrations/20230714065216_snapshot_id/migration.sql
Labels: app:server

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/README.md'
          - 'packages/frontend/templates/**/*'

test:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
          - '**/tests/**/*'
          - '**/__tests__/**/*'

mod:dev:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**/*'
          - 'tools/cli/**/*'
          - 'packages/common/debug/**/*'

mod:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/infra/**/*'

mod:plugin-cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/plugin-cli/**/*'

mod:i18n:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/i18n/**/*'

mod:env:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/env/**/*'

mod:component:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/component/**/*'

mod:server-native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/native/**/*'

mod:native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/native/**/*'

mod:store:
  - changed-files:
      - any-glob-to-any-file:
          - '**/atoms/**/*'

rust:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.rs'
          - '**/Cargo.toml'
          - '**/Cargo.lock'
          - '**/rust-toolchain'
          - '**/rust-toolchain.toml'
          - '**/rustfmt.toml'

app:core:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/core/**/*'

app:electron:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/electron/**/*'

app:server:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/server/**/*'
